<launch>
  <arg name="arduino_port" default="/dev/ttyUSB0" />
  <arg name="lidar_port" default="/dev/ttyUSB1" />
  <include file="$(find service_robot)/launch/minimal.launch"/>
  <include file="$(find teleop_twist_joy)/launch/teleop.launch"/>
  <node pkg="service_robot" name="vel_listener" type="CmdVel_to_Motor_arduino.py" output="screen"/> 
  <node pkg="service_robot" name="fb_to_odom_node" type="feedback_to_odom_final.py" output="screen"/>  
  <node pkg="sound_play" name="soundplay_node" type="soundplay_node.py" output="screen"/> 
 
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
    <param name="port" value="$(arg arduino_port)"/>
    <param name="baud" value="57600"/>
  </node> 
 
  <include file="$(find ydlidar_ros)/launch/X4.launch">
     <arg name="port" value="$(arg lidar_port)"/>
  </include>
 
 <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find service_robot)/urdf/service_robot.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />
  <include file="$(find service_robot)/launch/navigation.launch"/> 
 <!-- <include file="$(find usb_cam)/launch/usb_cam-test.launch"/> -->
</launch>
